/*===================Google Fonts===================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100&display=swap');
 
/*===================Reset Website===================*/
* 
{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

img{width: 100%}

/*===================Body===================*/
body{height: 1000px;}



/*===================Site===================*/
#site {
    z-index: 99;
    background: #FFFFFF;
    padding: 5px 0;
    border-bottom: 1px solid #1D1D1D;
}

table {
    width: 100%;
    margin: auto;

}
    table .logos{width: 250px}

    table .blank-space{width: 350px}

    table .search-fix{width: 150px;}

    table .shopping-cart{width: 190px}

    #site .logo img
    {
        margin-left: 40px;
        height: 70px;
        width: 70px;
        text-decoration: none;
    }

    #site .brand_name img
    {
        margin-left: 20px;
        margin-top: 10px;
        height: 42px;
        width: 160px;
        text-decoration: none;
    }

    .search {
        width: 350px;
        height: 40px;
        padding: 0 10px;
        font-size: 14px;
        line-height: 48px;
        border-radius: 30px;
        outline: 0;
        border: 1px solid #1D1D1D;
        border-radius: 10px 0px 0px 10px;
        margin: 0;
    }

   #site .button
    {
        background-color: #1D1D1D;
        border-radius: 0px 10px 10px 0px;
        height: 40px;
        width: 50px;
        margin-left: -5px;
        color: #FFFFFF;
        transition: 0.4s;
        font-size: 14px;
        margin-left: -5px
    }

        #site .button:hover
        {
            color: #AE8F1F;
        }

    table .shopping-cart i
    {
        font-size: 25px;
        color: #1D1D1D;
        padding: 0px 0px 0px 20px;
        transition: 0.4s;
    }

        table .shopping-cart i:hover{color: #AE8F1F}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.5s;
}

/*===================Shopping Cart===================*/
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1; 
    transition: 0.5s;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 35px;
  }
  
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
        text-decoration: none;
    }
  
        .sidenav a:hover {
            color: #AE8F1F;
        }
  
  .sidenav .closed
  {
    text-align: center;
    margin-left: 30px;
    width: 340px;
    padding: 20px 0px 40px 0px;
  }
  
  .sidenav .closed .cart{float: left;}
  
    .sidenav .closed .cart span
    {
        font-size: 20px;
        font-weight: 500;
    }
  
  .sidenav .closed .fickbtn{float: right;}
  
    .sidenav .closebtn {
        font-size: 25px;
        text-decoration: none;
        margin-top: -15px;
        color: #FFFFFF
    }
  
  /*===================Overall Scrollbar===================*/
  ::-webkit-scrollbar{width: 0px}
  
  ::-webkit-scrollbar-thumb{
    background: #F1F1F1;
    border-radius: 10px;
  }
  
  .sidenav::-webkit-scrollbar {width: 3px}
  
  
  /*===================Shopping Cart Items===================*/
  .cart-items-container
  {
    position: absolute;
    margin-left: 30px;
    width: 340px;
  }
  
  .cart-items-container .cart-item
  {
    position: relative;
    padding: 30px 0;
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
    .cart-items-container .fa-times-circle
    {
        position: absolute;
        top: 38px; right: 5px;
        font-size: 15px;
        cursor: pointer;
        color: #F1F1F1;
    }
  
        .cart-items-container .fa-times-circle:hover{color:#AE8F1F}
  
    .cart-items-container img
    {
        height: 90px;
        width: 90px;
    }
  
  
    .cart-items-container h3
    {
        margin-top: 0px;
        font-size: 15px;
        color: #FFFFFF;
        padding-bottom: 2px;
        margin-left: 30px;
    }
  
    .cart-items-container .qty
    {
        font-size: 12px;
        color: #FFFFFF;
        padding-bottom: 5px;
        margin-left: 16%;
        margin-top: 30px;
        text-decoration: none;
    }
  
    .cart-items-container .price
    {
        font-size: 12px;
        color: #FFFFFF;
        padding-bottom: 5px;
    }
  
  .total-price
  {
    position: relative;
    padding: 30px 0px 0px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    color: #FFFFFF;
    margin-left: 5px;
  }
  
  .total-prices
  {
    position: relative;
    padding: 10px 0px 30px 0px;
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    color: #FFFFFF;
    margin-left: 5px;
    border-bottom: 1px solid #2F2F3B;
  }
  
  .cart-items-container .button-total
  {
    margin-left: 5px;
    margin-top: 30px;
    padding: 15px;
    display: inline-block;
    width: 160px;
    font-size: 17px;
    color: #1D1D1D;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    gap: 15px;
  }
  
    .cart-items-container .button-total:hover
    {
        background-color: #1D1D1D;
    }
  
  .cart-items-container .button-totaly
  {
    margin-left: 5px;
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 15px;
    display: inline-block;
    width: 160px;
    font-size: 17px;
    color: #1D1D1D;
    background-color: #FFFFFF;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
  }
  
    .cart-items-container .button-totaly:hover
        {
            background-color: #1D1D1D;
        }
  

/*===================Breadcrumb===================*/
ul#breadcrumb 
{
    padding: 15px 55px;
    list-style: none;
    background-color: #FFFFFF;
    border-bottom: 1px solid #1D1D1D;
    margin-bottom: 0px;
}
  
ul#breadcrumb li 
{
    display: inline;
    font-size: 15px;
}
  
ul#breadcrumb li+li:before 
{
    padding: 8px;
    color: black;
    content: "/\00a0";
}
  
ul#breadcrumb li a 
{
    color: #1D1D1D;
    text-decoration: none;
}
  

ul#breadcrumb li a:hover 
{
    color: #AE8F1F;
    text-decoration: none;
}

/*===================Product===================*/
#product
{
    display: flex;
    gap: 250px;
    height: 320px;
    background-color: #1D1D1D;
}

#product .product-img
{
    margin-top: 50px;
    margin-left: 300px;
}

#product .product-img .latte
{
    width: 220px;
    height: 220px;
}

#product .product-name
{
    color: #FFFFFF;
    margin-top: 100px;

}

#product .product-name h1
{
    font-weight: 700;
    padding: 10px 0px;
}

#product .product-name .calo
{
    display: flex;
    gap: 12px;
}


/*===================Tooltip===================*/
.nitro
{
    background-color: unset;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    margin-top: -10px;
}


/*===================Product Detail===================*/
#product-details
{
    display: flex;
    height: 700px;
}

#product-details .size-option{padding: 70px 150px;}

#product-details .size-option .op-h2
{
    padding: 12px 8px;
    border-bottom: 4px solid #F1E5AC;
    width: 420px;
}

#product-details .size-option .op-select
{
    padding: 12px 10px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 420px;
    border: 1px solid #818181;
}

#product-details .size-option .price-amount
{
    margin-bottom: 50px;
}

#product-details .size-option .price-amount span{color: red;}

#product-details .size-option .order-btn .o-btn
{
    padding: 15px 20px;
    border: 1px solid #1D1D1D;
    color: #FFFFFF;
    background: #1D1D1D;
    transition: all 0.3s ease;
    border-radius: 6px;
}

#product-details .size-option .order-btn .o-btn:hover
{
    text-decoration: none;
    color: #1D1D1D;
    background: #FFFFFF;
}

#product-details .mix-product{padding-top: 70px}

#product-details .mix-product .mix-h2
{
    padding: 12px 8px;
    border-bottom: 4px solid #F1E5AC;
    width: 420px;
}

#product-details .mix-product .nitro-latte-cnt
{
    width: 420px;
    margin-top: 47px;
    text-align: justify;
}

#product-details .ingridient{margin-top: 50px;}

#product-details .ingridient .sweet
{
    padding: 12px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 420px;
    border: 1px solid #818181;
}

#product-details .ingridient .ice
{
    padding: 12px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 420px;
    border: 1px solid #818181;
}

#product-details .mix-product .m-wand{margin-top: 30px;}

#product-details .mix-product .m-wand .magic-wand
{
    padding: 15px 20px;
    border: 1px solid #1D1D1D;
    background: #1D1D1D;
    color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}


#product-details .mix-product .m-wand .magic-wand:hover
{
    text-decoration: none;
    color: #1D1D1D;
    background: #FFFFFF;
}



/*===================Footer===================*/
footer
{
    width: 100%;
    bottom: 0;
    background: linear-gradient(to left, #000000, #9A7D36);
    color: #FFFFFF;
    padding: 50px 0px 15px 0px ;
    border-top-left-radius: 125px;
    font-size: 13px;
    line-height: 20px;
    padding-top: 50px;
}

footer .brands-logo
{
    width: 70px;
    height: 70px;
}

footer .brands
{
    width: 160px;
    height: 42px;
    margin-bottom: 0px;
}

.row-footer
{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.col-footer
{
    flex-basis: 25%;
    padding: 10px;
}

.row-footer h3
{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id
{
    width: fit-content;
    border-bottom: 1px solid #CCC;
    margin: 20px 0;
}

.ul-chan li{margin-bottom: 12px;}

.ul-chan li a
{
    text-decoration: none;
    color: #FFFFFF;
}

    .ul-chan li a:hover
    {
        text-decoration: none;
        color: #A78C59
    }

form
{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #CCC;
    margin-bottom: 50px;
}

    form .far
    {
        font-size: 18px;
        margin-right: 10px;
    }

form input
{
    background: transparent;
    color: #CCC;
    border: 0;
    outline: none;
}

form button
{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

    form .fas
    {
        font-size: 16px;
        margin-right: 10px;
        color: #F1F1F1
    }

.social-icons .fab
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    color: #000;
    background: #FFFFFF;
    margin-right: 15px;
}

.hr-chan
{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #fff;
    margin: 20px auto;
}

.copyright{
    text-align: center;
    font-weight: 600px;
}

.underline
{
    width: 100%;
    height: 3px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 35px;
    left: 0;
    overflow: hidden;
}

.underline span
{
    width: 15px;
    height: 100%;
    background: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 2s linear infinite;
}

@keyframes moving
{
    0%{
        left: -20px;
    }

    100%
    {
        left: 100%;
    }
}